.btn-box a:hover::\ {
    background: #005c26;
    
    }

    .btn-box a:nth-child(2) {
        background: #005c26;
        background: transparent;
        }

.btn-box a:nth-child(2):hover {
    background: #ffffff;
}

.btn-box a:hover::before {
    background:#005c26;
    
    }


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:0;
    height:100%;
    background: green;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width:100%;
    }

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    }


.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:2px solid #005c26;
    border-radius: 50%;
    font-size: 20px;
    color:#005c26;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci :hover{
    color:#161718;
    }

.home-sci a::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: #005c26;
    z-index: -1;
    }

.home-sci a :hover::before{
    width: 100%;
}




/* General styles for the form */



.contact-form {
    max-width: 500px; 
    margin-left: auto; 
    margin-right: 0;
    padding: 20px;
    background-color: #161718; 
    border-radius: 8px; 
    color: #ededed; 
    border: 2px solid #005c26; 
}


.contact-form h2 {
    text-align: right;
    color: #005c26; 
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #1e1f20; 
    border: 1px solid #005c26; 
    border-radius: 4px;
    color: #ededed; 
}


.contact-form .submit-btn {
    background-color: #005c26; 
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
    background-color: #003a1b; 
}


.contact-form label {
    color: #ededed; 
    font-weight: 500;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #8a8a8a; 
}
